<div id="<%= dom_id spending %>">
  <p>
    <strong>Author:</strong>
    <%= spending.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= spending.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spending.amount %>
  </p>

</div>
