<p style="color: green"><%= notice %></p>

<h1>Spendings</h1>

<div id="spendings">
  <% @spendings.each do |spending| %>
    <%= render spending %>
    <p>
      <%= link_to "Show this spending", group_spending_path(params[:group_id], id: spending.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New spending", new_group_spending_path(params[:group_id]) %>
