<nav class="main-blue-background d-flex justify-content-between align-items-end text-light login-page-nav p-3">
      <span>
        <%= link_to  path, class: "bg-transparent text-light border-0", :method => :get do%>
        <span class="material-icons nav-search-icon ">
        west
        </span>
      <%end%>
      </span>

      <span>
      <h2><%= name%></h2>
      </span>

      <span class="material-icons navbar-brand nav-search-icon">
        search
      </span>
     
</nav>