<main class="m-2">
    <h1 class="splash-title display-4 text-center">Budget</h1>
    <div class="registration-buttons">
        <%= button_to 'LOG IN' , new_user_session_path, class: "form-control btn main-blue-background text-light p-3", method: :get %>
        <%= button_to 'SIGN UP' ,new_user_registration_path ,  class: "form-control btn btn-muted p-3", method: :get%>
    </div>
</main>
