/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: "proxima-nova-bold";
    src: url("../fonts/Proxima-Nova-Bold.otf")
  }

  body{
    font-family: 'proxima-nova-bold' !important;
  }

  .login-page-nav {
    height: 90px;
  }

 .splash-title{
    margin-top: 40vh;
 }

 .registration-buttons {
    margin-top: 35vh;
 }

 .main-blue-background{
    background-color: #3978C2 !important;
 }

 .nav-search-icon{
    font-size: 40px !important;
 }

 .gray-bg{
    background-color: #F0F3F2;
 }

 .shadow {
    box-shadow: 0px 0px 10px #000000;
 }

 .new-group-button{
     position: absolute;
     bottom: 0px ;
 }

 .groups-wrapper { 
     height: 82vh !important;
     overflow-y: scroll !important;
 }